# RStudio project-specific files.
.Rproj.user/
*.Rproj

# Ignored output directory.
output/

# Ignore all contents in the data directory.
/data/*

# Also ignore dotfiles (like .DS_Store) inside data.
/data/.*

# But DO NOT ignore the .gitkeep file, to keep the directory tracked.
!/data/.gitkeep

# R environment history and data files.
.Rhistory
.RData
.Renviron